# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

# list any PHP version you want to test against
php:
  # using major version aliases

  # aliased to a recent 5.6.x version
  - 5.6
  # aliased to a recent 7.0.x version
  - 7.0

services:
  - memcached

before_install:
  - yes | pecl install memcache
  #- echo "extension = memcache.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - echo "extension = memcached.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini

# execute any number of scripts before the test run, custom env's are available as variables
before_script:
#   - wget http://downloads.atoum.org/nightly/mageekguy.atoum.phar;
  - composer install;
  # Ensure the memcache extension is available
  - composer show --platform ext-memcache

script:
  - ./vendor/bin/atoum -c .atoum.php -d test/unit/src/class/ ;

# after_script:
#  ## Scrutinizer
#  - wget https://scrutinizer-ci.com/ocular.phar
#  - php ocular.phar code-coverage:upload --format=php-clover clover.xml